/* navbar */


.navbar .navbar-brand {
  max-width: 180px;
}

.navbar .navbar-brand img {
  width: 100%;
}

.navbar .navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

.navbar .nav-item .nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  color: #282828;
  border-bottom: 3px solid transparent;
}

.navbar .nav-item .login-btn-link {
  font-weight: 500;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #000;
}

.navbar-nav .nav-link:hover {
  border-color: #9e6d2d;
}

/* info heading */
.info-heading p {
  font-weight: 500;
}

/*  form */
.step-form {
  margin: 2rem auto;
  padding: 1.25rem;
}

.step {
  display: none;
}


.step-form label {
  font-weight: 500;
  color: #000;
  font-size: 1.05rem;
}

.step p.lead {
  font-size: 1.1rem;
  font-weight: 500;
  color: #000;
}






/* login page and */
.login-page, .otp-page {
  background: #ebebeb;
}

.login-page .card, .otp-page .card {
  border-radius: 10px;
  border: unset;
}

.login-page label, .otp-page label {
  font-size: 1.1rem;
  font-weight: 500;
  color: #000;
}

.otp-page .otp-field {
  flex-direction: row;
  column-gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otp-page .otp-field input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
.otp-page .otp-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.otp-page .otp-field input::-webkit-inner-spin-button,
.otp-page .otp-field input::-webkit-outer-spin-button {
  display: none;
}